@import url('htps://fonts.googleapis.com/css2?familly=Outfit:wght@300&display=swap');
$primary:#363776;
$secondary:#181735;
$clear:#f00;
$box-sizing:border-box;
$font1:'Outfit', sans-serif;
$font2:Tahoma, Verdana;
$width: 300px;
$height:100vh;
$heightPerc:100%;

*{
    margin: 0;
    padding: 0;
    box-sizing: $box-sizing;
    font-family: $font1;
    
}

body{
    height: $height;
}

h1{
    font: 24px $font1;
}

nav.menu-lateral{
    width:$width;
    height:$heightPerc;
    background-color: $primary;
}