@import url('htps://fonts.googleapis.com/css2?familly=Outfit:wght@300&display=swap');
$primary:linear-gradient(rgb(9, 9, 9),#181735);
$secondary:  linear-gradient(to right, rgba(255,0,0,0), rgb(57, 89, 214));
$clear:rgb(255, 255, 255);
$hover:linear-gradient( to right, rgb(12, 15, 22) , rgb(239, 8, 251) 100%);
$hover1:rgb(239, 8, 251);
$box-sizing:border-box;
$font1:'Outfit', sans-serif;
$font2:Tahoma, Verdana;
$width: 300px;
$height:100vh;
$perc:100%;

*{
    margin: 0;
    padding: 0;
    box-sizing: $box-sizing;
    font-family: $font1;
    
}

body{
    height: $height;
    background-image: $primary;
}

nav.menu-lateral{
    width:80px;
    height:$perc;
    background-image:  $secondary;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 $hover1;

    position: fixed;
    top: 0 ;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover{/*faz expandir quando passa o mouse lista*/
    width: $width ;
}

.btn-exandir{
    width: $perc;
    padding-left: 10px;
}
.btn-expandir{/*icon lista*/ 
    i{
      color: $clear;
      font-size: 30px;
      cursor: pointer;
      padding: 20px 4%;
      margin-left: 10px;
    }
}

ul{
    height: $perc;
    list-style-type: none;

}

ul{
    li.item-menu{
        transition: .1s;

    }
}
ul{
    li.item-menu:hover{
        background-image:$hover ;

    }

}

ul{
    li.ativo{
        background-image: $hover;

    }

}



ul{
    li.item-menu{

            a{
                color: $clear;
                text-decoration: none;
                font-size: 20px;
                padding: 20px 4%;
                display: flex;
                margin-bottom: 20px;
                line-height: 40px;
                margin-top: 50px;
               
                
            }
        
        
    }
}

ul{
    li.item-menu{
            a .txt-link{
               margin-left: 40px;
            }
        
        
    }
}

ul{
    li.item-menu{
            a .icon{
                i{
                   font-size: 30px; 
                   margin-left: 10px;
                }
               
            }
        
        
    }
}